@model AnonseWeb.ViewModel.EditAdvertisementViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edycja ogłoszenia</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Edycja ogłoszenia</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AdvertisementId)

    <div class="form-group">
        @Html.LabelFor(model => model.AdvertisementName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AdvertisementName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AdvertisementName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @(Html.Kendo().NumericTextBox<int>()
                            .Name("Cost")
                            .Format("d")
                            .Min(0)
                            .Max(10000)
                            .Culture("pl-PL")
                            .HtmlAttributes(new { title = "Cost" })
            )
            @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz" class="btn btn-primary btn-lg btn-block" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Powrót do listy", "UserAdvertisement", "User")
</div>
