@model AnonseWeb.ViewModel.HomeViewModel
@using AnonseWeb.Helpers
@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="container">
    <div class="row no-gutters">
        <div class="col-12 col-sm-6 col-md-8">
            <div class="container">
                <h3>Nowe ogłoszenia</h3>
                <div class="list-group">
                    @foreach (var itemAnnon in Model.AnnouncementList)
                    {
                        <a href="@Url.Action("Detail","Announcement", new { AnnouncementId = itemAnnon.AnnouncementId})" class="list-group-item list-group-item-action">
                            <div class="media">
                                <img class="mr-3" src="@Url.AnnouncementImgPath(itemAnnon.files.First().FileName)" style="width: 50%" alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="mt-0">@itemAnnon.AnnouncementName</h5>
                                    @itemAnnon.Description
                                </div>
                            </div>
                            <span>Cena: @itemAnnon.Cost zł | Data dodania: @itemAnnon.DateBegin.ToShortDateString() | Odzwiedzin: @itemAnnon.Visitor</span>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


